<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Controlador.ControladorIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarVenta</servlet-name>
        <servlet-class>Controlador.GenerarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraCarrito</servlet-name>
        <servlet-class>Controlador.CompraCarrito</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>ValidacionCliente</servlet-name>
        <servlet-class>Controlador.ValidacionCliente</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ValidarC</servlet-name>
        <servlet-class>Controlador.ValidarC</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>Listado</servlet-name>
        <servlet-class>Controlador.Listado</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>ReportesPdf</servlet-name>
        <servlet-class>Controlador.ReportesPdf</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>ListadoC</servlet-name>
        <servlet-class>Controlador.ListadoC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoPqrs</servlet-name>
        <servlet-class>Controlador.ListadoPqrs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtencionCliente</servlet-name>
        <servlet-class>Controlador.AtencionCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoD</servlet-name>
        <servlet-class>Controlador.ListadoD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarVenta</servlet-name>
        <url-pattern>/GenerarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraCarrito</servlet-name>
        <url-pattern>/CompraCarrito</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>ValidacionCliente</servlet-name>
        <url-pattern>/ValidacionCliente</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>ValidarC</servlet-name>
        <url-pattern>/ValidarC</url-pattern>
    </servlet-mapping>
     -->
    <servlet-mapping>
        <servlet-name>Listado</servlet-name>
        <url-pattern>/Listado</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>ReportesPdf</servlet-name>
        <url-pattern>/ReportesPdf</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>ListadoC</servlet-name>
        <url-pattern>/ListadoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoPqrs</servlet-name>
        <url-pattern>/ListadoPqrs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtencionCliente</servlet-name>
        <url-pattern>/AtencionCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoD</servlet-name>
        <url-pattern>/ListadoD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
